.comida {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: red;
        height: 100%;
        width: 35%;
        z-index: -1;
    }

    &>h1{
        margin-right: 10%;
        padding: 30px 0 15px 0;
    }

    &__categories {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 50px;
        margin-left: 20px;
        &__option {
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 30px;
            // display: flex;
            // align-items: center;
            // justify-content: flex-start;
            height: 100px;
            position: relative;
            width: 80%;
            &__img {
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                background-color: #fff;
                border-radius: 15px;
                width: 80px;
                height: 80px;
                position: absolute;
                left: -30px;
                top: 50%;
                transform: translateY(-50%);
                overflow: hidden;
                img {
                    //  width: 50%;
                    width: 80%;
                    height: 80%;
                }
            }
            &__name {
                margin-left: 60px;
                display: flex;
                // align-items: center;
                // justify-content: center;
                flex-direction: column;
                h1{
                    font-size: 27px;
                    &::first-letter{
                        text-transform: uppercase;
                    }
                }
                span{
                    flex-basis:  auto;
                }
            }
            &__icon {
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                border-radius: 50%;
                background: white;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 25px;
                width: 25px;
                right: -12.5px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}
