.palabra{  
    background-color: #D9CAB8;  
    height: 100vh;
    overflow: hidden;
    .item{               
        padding: 2em 2em 0 2em;        
       .item__video{           
            position: relative;            
            &__name{
                background-color: #2493BF;                   
                border-top-left-radius: 1.5em;
                border-top-right-radius: 1.5em;
                padding-bottom: 20px;
                display: flex;
                align-items: flex-end;
                justify-content: space-around;
                h1{
                    color:white;
                    text-align: center;
                    margin: 0;
                }
                &__img{
                    // border:1px solid red;
                    height: 100px;
                    margin-top: 10px;
                }
                
           }
            &__file{          
                margin-top: -20px;                     
                padding: 1em;
                background-color: white;
                border-top-left-radius: 1.5em;
                border-top-right-radius: 1.5em;
                .react-player{                                  
                    // border:1px solid red;
                    video{
                        // border-radius: 15%;
                        height: 100% !important;
                    }
                }
            }
            &__buttons{
                position: absolute;
                left: -20px;
                bottom: 100px;

                &__mute{
                    border:none;
                    height: 80px;
                    width: 80px;
                    border-radius: 50% ;
                    border:3px solid red;
                    opacity: 0.5;
                }
            }
       }
    }
}